allow hal_keymaster_default ut_keymaster_device:chr_file { read write open ioctl};

allow hal_keymaster_default teei_client_device:chr_file { read write open ioctl};

allow hal_keymaster_default property_socket:sock_file { read write };
allow hal_keymaster_default init:unix_stream_socket connectto;
